﻿    
    .left{margin-top: 45px; margin-left:50px; border-radius:30px;}
    
    .right
    {
    margin-top: -230px;
    margin-left: 750px;
    border-radius: 30px;
    }
    a{
    color: darkorange;
    text-decoration:none;
    }
    a:hover
    {
        color: #f1773f !important;
    }

    .p1
    {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #808080;
    margin-left: 633px;
    margin-right: 50px;
    margin-top: -260px;
    text-align: justify;
    }
    .para 
    {
        font-size:1.4rem;
        line-height: 1.5;
        color: #808080;
        margin-left:50px;
        margin-right:450px;
        margin-top:250px;
        text-align:justify;
    }
    .paraa {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #808080;
    margin-left: 453px;
    margin-right: 50px;
    margin-top: -150px;
    text-align: justify;
    }
.but {
    padding: 10px 20px 10px 20px;
    background-color: #f1773f;
    color: white;
    border-color: white;
    border-radius: 30px;
    font-size: 15px;
}
    .but:hover {
        padding: 10px 20px 10px 20px;
        background-color: #f1773f;
        color: white;
        border-color: white;
        border-radius: 30px;
        font-size: 20px;
    }
.leftpara {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #808080;
    text-align:justify;
    margin-left:60px;
    margin-right:600px;
    margin-top:80px;
}
.rightpara {
    color: #808080;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
    margin-left: 600px;
    margin-right: 50px;
    margin-top: -240px;
}
#body2{
    background-color:tomato;
}